
/*body {*/
/*    padding-left: 15px;*/
/*}*/

/*h1 a {*/
/*    color: #FCA205;*/
/*    font-family: 'cursive';*/
/*}*/

.home_icon {
    padding-top: 5px;
    position: relative;
}

#customer_img {
    width: 50%;
}

#investment_img {
    width: 44%;
}

#stocks_img {
    width: 52%;
}